html, body {
  height: 100%;
  margin: 0;
}

body {
    font-family: "proxima-nova", helvetica, arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        &.hamburger-icon {
            display: none;
            @media screen and (max-width: 700px) {
                display: flex;
            }
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    ul {
        a {
            text-decoration: none;
            color: black;
            transition: all .15s;
        }
        a:hover {
            color: var(--color-active);
        }

        display: flex;
        align-items: center;
        gap: 15px;
        .border {
            border-bottom: 1px solid rgb(224, 224, 224);
            width: 150px;
            height: 0px;
        }
    }

    .hamburger-icon {
        transition: all .1s;
        padding: 2px;
        align-items: center;
        svg {
            transition: stroke .1s;
        }
    }

    .hamburger-icon.open {
        background-color: var(--color-active-alt);
        border-radius: 5px;
        svg {
            stroke: var(--color-active);
        }
    }

    ul.expanded-bar {
        @media screen and (max-width: 700px) {
            display: none;
        }
    }

    ul.side-bar {
        display: none;
        background-color: rgb(250, 250, 250);
        padding: 15px;
        border-radius: 15px;
        border: 1px rgb(215, 215, 215) solid;
        z-index: 999;
        @media screen and (max-width: 700px) {
            display: flex;
            flex-direction: column;
            text-align: left;
            position: fixed;
            margin-top: 560px;
            align-items: flex-start;
            margin-left: -200px;
            transition: margin-left .3s cubic-bezier(.03,.44,.29,1.32);
        }
    }

    ul.side-bar.open {
        display: none;
        background-color: rgb(250, 250, 250);
        padding: 15px;
        border-radius: 15px;
        border: 1px rgb(215, 215, 215) solid;
        z-index: 999;
        @media screen and (max-width: 700px) {
            display: flex;
            flex-direction: column;
            text-align: left;
            position: fixed;
            margin-top: 560px;
            align-items: flex-start;
            margin-left: 0px;
        }
    }

    .header-logo {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            text-transform: uppercase;
            margin: 0;
            font-size: 18px;
            color: var(--color-secondary);
        }
    }
}

.header-second {
    font-size: 14px;
    margin-right: 3px;
    li.Login {
        @media screen and (max-width: 335px) {    
            display: none;    
        }    
    }
}

h1 {
    font-size: clamp(1.25rem, 5vw, 2rem);
    color: var(--color-secondary);
}

main {
    margin: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex: 1;
    @media screen and (min-width: 992px) {
        align-items: center;
    }
}

.converter-desktop-layout {
    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 50px;
        align-items: center;
    }

}

.converter-container {  
    img {
        margin-top: 40px;
        margin-bottom: 10px;
        margin-left: 0px;
        max-width: 500px;
        @media screen and (max-width: 700px) {
            max-width: 95vw;
            margin-left: 0px;
        }
    }
}

.converter-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;       
        @media screen and (max-width: 700px) {
            margin: 0;
        }
}

textarea {
    max-width: 480px; 
    min-height: 120px;
    border: 2px rgba(0, 0, 0, 0.35) solid;
    resize: none;
    border-radius: 5px;
    @media screen and (max-width: 700px) {
        max-width: 95vw; 
        min-height: 120px;
    }
}

textarea:focus {
    outline: none;
    border: 2px solid var(--color-active);
}

.hidden-field {
    display: none;
}

.unhidden-field {
    display: static;
    max-width: 480px; 
    min-height: 120px;
    border: 2px rgba(0, 0, 0, 0.35) solid;
    resize: none;
    border-radius: 5px;
    pointer-events: none;
    @media screen and (max-width: 700px) {
        max-width: 95vw; 
        min-height: 120px;
    }
}

.input-field {
    position: static;
}

.input-moving {
    @media screen and (max-width: 700px) {
        animation-name: move-text-mobile;
    }

    @media screen and (min-width: 992px) {
    animation-name: move-text-desktop;
    }

    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    position: fixed;
    border: 2px rgba(0, 0, 0, 0) solid;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

@keyframes move-text-mobile {
    0% { margin-left: 0px; margin-top: 70px; opacity: 100%;}
    40% { margin-left: 150px; }
    100% { margin-left: 150px; margin-top: 280px; opacity: 0%;}
}

@keyframes move-text-desktop {
    0% { margin-left: 0px; margin-top: 92px; opacity: 100%;}
    100% { margin-left: 700px; margin-top: 130px; opacity: 0%;}
}

.primary-button.click {
    animation-name: click;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
}

@keyframes click {
    0% {scale: 1.1;}
    50% {scale: 0.85;}
    100% {scale: 1.1;}
}

.notebar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (min-width: 992px) {
        margin-top: 50px;
    }
}

form {
    &.login-container {
        button {
            cursor: pointer;
            scale: 1.1;
            margin-top: 20px;
        }

        button:hover {
            scale: 1.25;
        }

        label {
            margin-bottom: -20px;
        }

        input {
            border: 1px rgb(216, 216, 216) solid;
            border-radius: 5px;
            padding: 5px;
            min-width: 200px;
            text-align: center;
        }

        background-color: rgb(245, 245, 245);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 500px;
        max-height: 300px;
        border-radius: 20px;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

input:focus {
    outline: 2px solid var(--color-primary);
}

footer {
    display: flex;
    color: grey;
    margin: 8px;
    width: 95vw;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 20px;
    
    @media screen and (min-width: 992px) {
        padding-bottom: 50px;
    }

    @media screen and (max-width: 700px) {
        padding-bottom: 20px;
    }
        a {
            text-decoration: none;
            color: grey;
            transition: all .15s;
        }

        a:hover {
            color: var(--color-active);
        }

        @media screen and (max-width: 700px) {
            flex-direction: column;
        }

    ul {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 25px;
        p {
            color: var(--color-secondary);
            letter-spacing: 1px;
            text-transform: uppercase;
            border-bottom: 1px rgb(183, 183, 183) solid;
            margin-bottom: 5px;
        }
    }
}