body {
    font-family: "proxima-nova", helvetica, arial, sans-serif;
    margin: 0;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        &.hamburger-icon {
            display: none;
            @media screen and (max-width: 700px) {
                display: flex;
            }
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    ul {
        a {
            text-decoration: none;
            color: black;
            transition: all .15s;
        }
        a:hover {
            color: var(--color-active);
        }

        display: flex;
        align-items: center;
        gap: 15px;
        .border {
            border-bottom: 1px solid rgb(224, 224, 224);
            width: 150px;
            height: 0px;
        }
    }

    .hamburger-icon {
        transition: all .1s;
        padding: 2px;
        align-items: center;
        svg {
            transition: stroke .1s;
        }
    }

    .hamburger-icon.open {
        background-color: var(--color-active-alt);
        border-radius: 5px;
        svg {
            stroke: var(--color-active);
        }
    }

    ul.expanded-bar {
        @media screen and (max-width: 700px) {
            display: none;
        }
    }

    ul.side-bar {
        display: none;
        background-color: rgb(250, 250, 250);
        padding: 15px;
        border-radius: 15px;
        border: 1px rgb(215, 215, 215) solid;
        @media screen and (max-width: 700px) {
            display: flex;
            flex-direction: column;
            text-align: left;
            position: fixed;
            margin-top: 560px;
            align-items: flex-start;
            margin-left: -200px;
            transition: margin-left .3s cubic-bezier(.03,.44,.29,1.32);
        }
    }

    ul.side-bar.open {
        display: none;
        background-color: rgb(250, 250, 250);
        padding: 15px;
        border-radius: 15px;
        border: 1px rgb(215, 215, 215) solid;
        @media screen and (max-width: 700px) {
            display: flex;
            flex-direction: column;
            text-align: left;
            position: fixed;
            margin-top: 560px;
            align-items: flex-start;
            margin-left: 0px;
        }
    }

    .header-logo {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            margin: 0;
            font-size: 18px;
            color: var(--color-secondary);
        }
    }
}

.header-second {
    font-size: 14px;
    margin-right: 3px;
    li.Login {
        @media screen and (max-width: 335px) {    
            display: none;    
        }    
    }
}

h1 {
    font-size: clamp(1.25rem, 5vw, 2rem);
    color: var(--color-secondary);
}

main {
    margin: 15px;
    margin-top: 20px;
}

.converter-container {
    @media screen and (max-width: 700px) {
        -webkit-tap-highlight-color: transparent;
    }
    
    img {
        margin-top: 40px;
        margin-bottom: 10px;
        margin-left: -5px;
        max-width: 500px;
        @media screen and (max-width: 700px) {
            max-width: 95vw;
            margin-left: 0px;
        }
    }
}

.converter-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
        @media screen and (max-width: 700px) {
            margin: 0;
        }
}

textarea {
    max-width: 480px; 
    min-height: 120px;
    border: 2px rgba(0, 0, 0, 0.35) solid;
    resize: none;
    border-radius: 5px;
    @media screen and (max-width: 700px) {
        max-width: 95vw; 
        min-height: 120px;
    }
}

textarea:focus {
    outline: none;
    border: 2px solid var(--color-active);
}

.hidden-field {
    display: none;
}

.unhidden-field {
    display: static;
    max-width: 480px; 
    min-height: 120px;
    border: 2px rgba(0, 0, 0, 0.35) solid;
    resize: none;
    border-radius: 5px;
    pointer-events: none;
    @media screen and (max-width: 700px) {
        max-width: 95vw; 
        min-height: 120px;
    }
}

.input-field {
    position: static;
}

.input-moving {
    animation-name: move-text;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    position: fixed;
    border: 2px rgba(0, 0, 0, 0) solid;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

@keyframes move-text {
    0% { margin-left: 0px; margin-top: 0px; opacity: 100%;}
    40% { margin-left: 100px; }
    100% { margin-left: 100px; margin-top: 220px; opacity: 0%;}
}

.primary-button.click {
    animation-name: click;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
}

@keyframes click {
    0% {scale: 1.1;}
    50% {scale: 0.85;}
    100% {scale: 1.1;}
}

.notebar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}