body {
    font-family: "proxima-nova", helvetica, arial, sans-serif;
    margin: 0;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    ul {
        display: flex;
        align-items: center;
        gap: 15px;
        img {
            margin-top: 5px;
        }
    }

    .header-logo {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            margin: 0;
            font-size: 18px;
            color: var(--color-secondary);
        }
    }
}

.header-second {
    font-weight: bold;
    font-size: 14px;
    margin-right: 3px;
}

a {
    &.register-but {
        border: 1px solid;
        border-radius: 5px;
        color: var(--color-primary);
        padding: 6px;
        background-color: rgba(255, 255, 255, 0);
    }
}